HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application ###
*.yaml
*.yml
*.env
*.properties

### Java 일반 ###
*.class
*.jar
*.war
*.log

### 로그, 캐시 등 ###
logs/
*.tmp

### OS별 불필요 파일 ###
.DS_Store
Thumbs.db

### drawio ###
*.drawio

### 인수인계 파일 로컬 저장 무시 ###
files/