<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.capchatbot.mapper.SpaceMapper">
    <select id="detail" parameterType="hashMap"
            resultType="com.thc.capchatbot.dto.SpaceDto$DetailResDto">
        SELECT space.id
             , space.deleted
             , space.created_at as createdAt
             , space.modified_at as modifiedAt

             , space.work_name as workName
            , space.space_code as spaceCode

            , tb_group.group_name as groupName
        FROM space
        LEFT JOIN tb_group ON space.group_id = tb_group.id
        WHERE space.id = #{id}
    </select>

    <!--  공통 WHERE 절  -->
    <sql id="commonWhere">
        WHERE space.id is not null
        <if test = 'deleted != null'>AND space.deleted = #{deleted}</if>
        <if test = 'workName != null and workName !=" "'>AND space.work_name LIKE CONCAT('%', #{workName})</if>
    </sql>

    <select id="list" parameterType="hashMap"
            resultType="com.thc.capchatbot.dto.SpaceDto$DetailResDto">
        SELECT space.id
        FROM space
        <include refid="commonWhere"/>
    </select>
</mapper>
