<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.capchatbot.mapper.UserSpaceMapper">
    <select id="detail" parameterType="hashMap"
            resultType="com.thc.capchatbot.dto.UserSpaceDto$DetailResDto">
        SELECT user_space.id
             , user_space.deleted
             , user_space.created_at as createdAt
             , user_space.modified_at as modifiedAt
             , user_space.role
             , user_space.status
             , user_space.user_id as userId
             , user_space.space_id as spaceId

            , space.work_name as workName
            , space.space_code as spaceCode
            , tb_group.group_name as groupName
            , tb_group.id as groupId
        FROM user_space
        LEFT JOIN space ON user_space.space_id = space.id
        LEFT JOIN tb_group ON space.group_id = tb_group.id
        WHERE user_space.id = #{id}
    </select>

    <!--  공통 WHERE 절  -->
    <sql id="commonWhere">
        WHERE user_space.id is not null
        <if test = "deleted != null">AND user_space.deleted = #{deleted}</if>
    </sql>

    <select id="list" parameterType="hashMap"
            resultType="com.thc.capchatbot.dto.UserSpaceDto$DetailResDto">
        SELECT user_space.id
        FROM user_space
        LEFT JOIN space ON user_space.space_id = space.id
        LEFT JOIN tb_group ON space.group_id = tb_group.id

        <include refid="commonWhere"/>
        AND user_space.user_id = #{reqUserId}

        <if test="status != null">AND user_space.status = #{status}</if>
        <if test="role != null">AND user_space.role = #{role}</if>
        <if test="deleted != null">AND space.deleted = #{deleted}</if>
        <if test="groupId != null">AND space.group_id = #{groupId}</if>
    </select>

<!--  Group과 Space의 Update에 대해서 권한을 체크하기 위함  -->

    <select id="isGroupAdmin" parameterType="hashMap" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user_space us
                 JOIN space s ON us.space_id = s.id
        WHERE us.user_id = #{userId}
          AND s.group_id = #{groupId}
          AND us.role = 'ADMIN'
    </select>

    <select id="isSpaceAdmin" parameterType="hashMap" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user_space
        WHERE user_id = #{userId}
          AND space_id = #{spaceId}
          AND role = 'ADMIN'
          AND status = 'ACTIVE'
    </select>

</mapper>
